.hero {
    height: 60vh;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
    position: relative;
}


.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-btn {
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}